<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Campaign</h3>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">


        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>List </h4>
                        <div style="float: right;">
                            <button onclick="popup(true);" class="btn btn-primary">Start a campaign</button>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Supporters</th>
                                        <th>Share</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBlock">



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- End PAge Content -->
    </div>
    <!-- footer -->

    <!-- End footer -->
</div>

<script>
    
$(function() {


    window.getData = ()=>{
        axios.get('/blocks').then(function(res){
            var data = res.data
            data.splice(0,1)
            console.log(data)
            data.map((item, i)=>{                
                if(!item.data.status){
                    var amount = parseFloat($(`#${item.data.hash}`)[0].dataset.amount) 
                    var val = (amount+1)
                    $(`#${item.data.hash}`).attr("data-amount", val)
                    $(`#${item.data.hash}`).html(val)
                    console.log(val)
                    return
                }
                // /console.log(item)
                var Text = `
                <tr>
                    <td>
                     ${i+1}
                    </td>
                    <td><a target="_blank" href="/share/${item.hash}">${item.data.name}</a></td>
                    <td><span><span id="${item.hash}" data-amount="${item.data.people}"> ${item.data.people}</span> people</span></td>
                    <td style="cursor: pointer;">
                        <a class="badge badge-info" href="https://www.facebook.com/sharer/sharer.php?u=https://campaign.noticoin.me/share/${item.hash}" target="_blank">
                            <i class="fa fa-share"></i>
                        </a>
                    </td>
                </tr>
            `
                $('#TableBlock').append(Text)

            })

        })
    }
    window.getData()

 $("#desText").froalaEditor({ toolbarButtons: 
    ["bold", "italic", "underline", "strikeThrough", "fontFamily", 
    "fontSize", "color", "clearFormatting", 
    "|", "paragraphFormat", "paragraphStyle", 
    "quote", "align", "formatOL", "formatUL", "outdent",
     "indent", "|", "insertLink", "insertImage", "insertVideo", "embedly",
      "insertFile", "insertTable", "-", "undo", "redo", "fullscreen", "html", "|", 
      "specialCharacters", "emoticons", "insertHR", "print", "help"], 
      toolbarButtonsXS: ["bold", "italic", "underline", "insertImage", "|", 
      "paragraphFormat", "align", "undo", "redo"], 
      zIndex: 1e3, pluginsEnabled: null, heightMin: 300 })
});

function popup(e){
    if(e){
        $('#popup').css({display:'block'})
    }else{
        $('#popup').css({display:'none'})
    }
}


function CreateBlock(){
    var des = $("#desText").froalaEditor('html.get')   
    var name = $('#Campaign').val()     
    //console.log(des, name)
    if(name.toString().trim().length && des.toString().trim().length){
        axios.post('/addBlock', {data:{
            name: name, 
            desc: des, 
            people: 0,
            status: true
        }}).then(function(res){
            popup(false)
            $("#desText").froalaEditor('html.set','')
            $('#Campaign').val('') 
            $('#TableBlock').html('')
            window.getData()
        })
    }
}




</script>